annotated-types
anyio
asgiref
beautifulsoup4
cachetools
certifi
chardet
charset-normalizer
deep-translator
Django
django-widget-tweaks
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
h2
hpack
hstspreload
httpcore
httplib2
hyperframe
idna
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyMuPDF
pyparsing
PyPDF2
reportlab
requests
rfc3986
rsa
sniffio
soupsieve
sqlparse
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
httpx
